{% extends "CourseProjectsApp/base.html" %}
{% load static %}

{% block main-content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'CourseProjectsApp/images/kulfi.png' %}" class="img-fluid rounded" alt="...">
        </div>
        <div class="col-md-6">
            <img src="{% static 'CourseProjectsApp/images/kulfi.png' %}" class="img-fluid rounded" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p>Giải thích</p>
        </div>
    </div>
</div>
{% endblock main-content %}
